/**
 * @see https://raw.githubusercontent.com/TedGoas/Cerberus/master/cerberus-fluid.html
 */
@import "reset.css";

/**
 * Progressive Enhancements
 * ---------------------------------------------------------------------------------------------------------------------
 */
/* What it does: Hover styles for buttons */
.button-td,
.button-a {
    transition: all 100ms ease-in;
}
.button-td-primary:hover,
.button-a-primary:hover {
    background: #555555 !important;
    border-color: #555555 !important;
}

/* Media Queries */
@media screen and (max-width: 600px) {

    /* What it does: Adjust typography on small screens to improve readability */
    .email-container p {
        font-size: 17px !important;
    }

}